@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.header {
  width: 92%;
  padding: 2rem;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.header .nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}
.header .nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  list-style: none;
  cursor: pointer;
}
.header .nav ul a {
  text-decoration: none;
  color: #000;
}
.header .nav .drop-items {
  display: none;
  position: absolute;
}
.header .nav .drop-down {
  position: relative;
}
.header .nav .show {
  display: flex;
  flex-direction: column;
  min-width: 60rem;
  top: 11px;
  left: -39px;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.products .product {
  box-shadow: 10px 16px 0 5px #000000;
  transition: all 0.5s;
  max-width: 22rem;
  height: 28rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26px;
  padding: 12px;
}
.products .product:hover, .products .product:focus {
  box-shadow: 13px 25px 0 6px #000000;
}
.products .price {
  font-size: 2.2rem;
}

.product-show {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

.btn-space {
  max-width: 15rem;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.user-connect {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.user-connect .user-form {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.user-connect .user-form .show {
  display: flex;
  margin: 1.5rem;
  color: #898787;
}
.user-connect .not-yet-sign-up {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.input {
  margin: 1rem;
  outline: none;
  border: none;
  transition: all 0.5s;
  border-bottom: 2px solid black;
}
.input:hover, .input:focus {
  box-shadow: 2px 2px 0 2px #000000;
}

.user-profile {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
.user-profile .delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 92%;
  padding: 2rem;
  text-align: center;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.container h1,
.container h2,
.container h3,
.container p,
.container a,
.container li,
.container input,
.container button {
  font-family: "VT323", monospace, sans-serif;
}
.container p,
.container a,
.container ul,
.container li,
.container input,
.container button {
  font-size: 1.2rem;
}
.container h1 {
  font-size: 2rem;
}
.container .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  padding: 2rem;
  min-height: 100vh;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.container .link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  color: #8679ee;
  display: block;
  transition: all 0.5s;
  background: white;
  border: none;
  max-width: 22rem;
  max-height: 4rem;
  margin: 1rem;
}
.container .link:focus, .container .link:hover {
  padding: 0.2rem;
  background: white;
  color: #000;
  letter-spacing: 5px;
  box-shadow: 6px 4px 0px 1px #000000;
  border: 1px solid #000000;
}
.container .delete {
  color: red;
}
.container .error {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
