$color-link: #8679ee;
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .product:nth-child(even) {
      border: 1px solid black;
      margin-top: 5rem;
    }
    .product:nth-child(even):hover {
      margin-top: 0;
    }


    .product{
      max-width: 22rem;
      height: 28rem;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 26px;
      padding: 12px;





    }

    .price {
      font-size: 2.2rem;
    }

  }

.product-show {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  }

.link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  color: $color-link;
  display: block;
  transition: all 0.5s;
  background: white;
  border: none;


    &:focus,
    &:hover {
      padding: 0.2rem;
      background: white;
      color: $color-link;
      letter-spacing: 5px;
      box-shadow: 18px 14px 0px 0px $color-link;
      border: 1px solid $color-link;
    }
  }

.btn-space{
  max-width: 15rem;
  gap: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

}


