
$transition: all 0.5s;



.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
    .product{
      box-shadow: 10px 16px 0 5px #000000;
      transition: $transition;
      min-width: 21rem;
      max-width: 22rem;
      height: 32rem;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 26px;
      padding: 12px;

      &:hover,
      &:focus {
        box-shadow: 13px 25px 0 6px #000000;
      }

    }


    .price {
      font-size: 2.2rem;
    }



.product-show {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

.btn-space {
  max-width: 15rem;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;

}


