.tab {
  display: flex;
  flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  gap: 1rem;
  background: #cccccc;
  border: 1px solid #ccc;
  width: 100%;
  height: 20px;
  .cl {
    background: #000;
    width: 10px;
    height: 10px;

  }
  .cls {
    background: red;
    width: 10px;
    height: 10px;
  }
}