@use "navBar";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
html {
  min-height: 100%; /* Look, it's not fixed anymore! */

  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  flex-grow: 1;

  h1,
  h2,
  h3,
  p,
  a,
  li,
  input,
  button {
    font-family: 'VT323', monospace, sans-serif;
  }

  p,
  a,
  ul,
  li,
  input,
  button {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .products {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .product{
        min-width: 296px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 26px;
        padding: 12px;

      }

    }


  }
}


