@use "navBar";
@use "products";
@use "user";
@use "footer";


@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

$color-link: #8679ee;
$transition: all 0.5s;
html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  h1,
  h2,
  h3,
  p,
  a,
  li,
  input,
  button {
    font-family: 'VT323', monospace, sans-serif;
  }

  p,
  a,
  ul,
  li,
  input,
  button {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2rem;
  }
  .main {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    padding: 2rem;
    min-height: 100vh;
    border-left: 2px solid black;
    border-right: 2px solid black;


  }
  .link {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    color: $color-link;
    display: block;
    transition: $transition;
    background: white;
    border: none;
    max-width: 22rem;
    max-height: 4rem;
    margin: 1rem;


    &:focus,
    &:hover {
      padding: 0.2rem;
      background: white;
      color: #000;
      letter-spacing: 5px;
      box-shadow: 6px 4px 0px 1px #000000;
      border: 1px solid #000000;
    }
  }
  //btn delete
  .delete {
    color: red;
  }

.error {
    font-size: 1.2rem;
    margin-top: 1rem;
  }




}





